body {
    /* display: flex; */
    justify-content: center;
    background: linear-gradient(to left top, red, orange, green, blue, indigo, violet);
	background-size: 500% 1000%;
	animation: gradient 15s ease infinite;
	min-height: 100vh;
    /* min-height: calc(100vh - 211px- 58px); */
    /* background-image: url('https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHNreXxlbnwwfHwwfHw%3landscape'); */
    font-family: 'Open Sans', sans-serif;  /* open sans google font */
    font-size: 80%;
    position: relative;
    padding-bottom: 58px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.header{
    margin-top: 3rem;
    text-align: center;
    color: rgb(240, 240, 240);
    font-size: 20px;
  }


.footer {
    position: absolute;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    padding: 20px;
    /* margin-bottom: 10px; */
    font-size: 20px;
    background-color: transparent;
    color: black;
    text-align: center;

}




a {
    color: white;
}

button {
    width: 180px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project {
    font-size: 20px;
    width: 200px;
    height: 170px;
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    margin: 30px;
    margin-top: 30px;
    transition: 0.4s;
    border-radius: 15px;
}

.project:hover, button {
    cursor: pointer;
    transform: scale(0.9, 0.9);
}


