html, body {
    text-align: center;
    height: 100%;

}

h1 {
    margin-top: 30px;
    text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;

}

#batteryLife {
    display: none;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
    text-align: left;  
}

#refresh{
    margin-left: 30px;
}


.custom {
    width: 100px !important;
}